SUPABASE_URL=https://xxxxxxxx.supabase.co
SUPABASE_KEY=remplacer_par_la_cle_publishable_supabase
PORT=3000
BASIC_AUTH_USER=remplacer_par_un_identifiant
BASIC_AUTH_PASSWORD=remplacer_par_un_mot_de_passe
